.courses {
  @include clearfix;
  &-title {
    margin: 0 10px 5px;
    color: #10933c;
    &::before {
      margin-right: 15px;
    }
  }
  &-info {
    min-height: 270px;
    margin-bottom: 20px;
    padding-top: 5px;
    background-color: #f6f6f6;
    position: relative;
    @include from('l') {
      width: 49%;
      margin-bottom: 0;
      float: left;
      &::before, &::after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 18px;
        left: 2px;
        width: 50%;
        top: 18%;
        max-width: 300px;
        background: rgba(#000000, .2);
        box-shadow: 0 15px 10px rgba(#000000, .2);
        transform: rotate(-3deg);
      }
      &::before {
        bottom: 18%;
        top: 7px;
      }
      &::after {
        transform: rotate(2deg);
        right: 9px;
        left: auto;
      }
    }

    @include to('m') {
      display: flex;
      justify-content: center;
    }
    .tab-pane {
      &:not(.active) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    /* .courses-info-line */
    &-line {
      padding: 0 15px;
      margin-bottom: 15px;
      @include clearfix;
      li {
        float: left;
        &:first-child {
          width: 210px;
        }
        &:last-child {
          width: 100%;
          @include from('s') {
            width: 320px;
          }
        }
      }
    }
  }

  &-nav {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include from('l') {
      width: 51%;
      float: left;
      justify-content: flex-end;
    }
    @include to('xs') {
      padding: 0 15px;
    }
    .point {
      width: 100%;
      margin-bottom: 15px;
      height: 80px;
      padding-left: 72px;
      padding-right: 5px;
      border: 1px solid #b7d4e0;
      background-color: #e1f3fa;
      font-size: 24px;
      color: #3467b8;
      text-transform: uppercase;
      position: relative;
      cursor: pointer;
      box-shadow: inset 0 0 1px 1px #7da7e8, inset 0 0 1px 1px #7da7e8;
      display: flex;
      align-items: center;
      @include from('l') {
        width: 46%;
        margin: 0 0 15px 15px;
      }
      @include from('s') {
        width: 48%;
        margin: 0 1% 15px;
      }
      &::before {
        position: absolute;
        top: 7px;
        left: -5px;
      }
    }
    .icon-embroidery::before {
      top: -4px;
      left: -16px;
    }
    .active {
      transform: translateX(-100%);
      position: absolute;
      left: -20px;
      top: 0;
      z-index: -1;
    }
  }
}
