header {
  padding: 15px 15px 20px;
  text-align: center;
}

.header {
  &-logo {
    margin-bottom: 5px;
    a, span {
      display: flex;
      justify-content: center;
      @include to('s') {
        flex-wrap: wrap;
        img {
          margin-bottom: 15px;
        }
      }
    }
    img {
      @include from('m') {
        &:first-of-type {
          margin-right: 30px;
        }
      }
      @include at('m') {
        max-width: 60%;
      }
    }
  }
  &-caption {
    margin-bottom: 15px;
    color: #542110;
    font-size: 18px;
  }
  &-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include to('s') {
      flex-wrap: wrap;
    }
    &-phone {
      font-size: 24px;
      color: #191a19;
      white-space: nowrap;
      a {
        color: inherit;
        text-decoration: none;
      }
      &::before {
        margin-right: 5px;
      }
    }
    &-text {
      padding-top: 5px;
      font-size: 30px;
      color: #9444a9;
      font-family: 'RupsterScriptFree', 'BlissPro', Corbel, Arial, sans-serif;
      @include to('s') {
        width: 100%;
        margin: 15px 0;
      }
    }

    .btn {
      font-size: 24px;
    }
  }
}
