.work-graduates {
  text-align: center;
  &-list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 25%;
      padding: 0 14px 14px;
    }
  }
  .img-work {
    margin-bottom: 15px;
  }
  img {
    outline-offset: -3px;
    outline: 3px solid transparent;
    transition: all .3s ease;
    &:hover {
      outline-color: #3c6ebd;
    }
  }
  .name {
    color: #3c6ebd;
    text-transform: uppercase;
  }
  .age {
    font-size: 14px;
  }
  .job-title {
    font-size: 14px;
  }
}
