@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "partials/mixin";
@import "lib/bootstrap";
@import "partials/fonts";
@import "partials/icons";
@import "partials/common";
@import "partials/btn";
@import "partials/header";
@import "partials/courses";

.content {
  margin-top: 35px;
  padding: 0 15px 15px;
  border: 3px solid #e0f5c0;
  border-top-color: transparent;
  background-color: #ffffff;
}
